@import './src/styles/colors';

body {
  padding: 0;
  margin: 0;
  background-color: $indigo-dark;
}

@font-face {
  font-family: 'Bear';
  src: url('./src/assets/Fonts/FjallaOne-Regular.ttf');
}

@font-face {
  font-family: 'CodePro';
  src: url('./src/assets/Fonts/SourceCodePro-Black.ttf');
}

@font-face {
  font-family: 'CodeLight';
  src: url('./src/assets/Fonts/SourceCodePro-Regular.ttf');
}
