@import './src/styles/colors';

body {
  padding: 0;
  margin: 0;
  background-color: $indigo-dark;
}

@font-face {
  font-family: 'Bear';
  src: url('./src/assets/Fonts/FjallaOne-Regular.ttf');
}

@font-face {
  font-family: 'CodePro';
  src: url('./src/assets/Fonts/SourceCodePro-Black.ttf');
}

@font-face {
  font-family: 'CodeLight';
  src: url('./src/assets/Fonts/SourceCodePro-Regular.ttf');
}


/* Vertical timeline dependency styles configuration */
.vertical-timeline-element-content {
  font-family: 'Bear';
  background-color: $background !important;
}

.vertical-timeline-element-content-arrow {
  border-right-color: $background !important;
}

.vertical-timeline-element-date {
  color: $indigo-light;
  font-size: 20px !important;
}

.vertical-timeline-element-title,
.vertical-timeline-element-subtitle {
  color: $indigo-medium;
}

.vertical-timeline-element-icon {
  background-color: $indigo-dark;
}

@media (max-width: 1169px) {
  .vertical-timeline-element-date {
    color: $indigo-dark;
  }
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:active {
  color: white;
}
