@import '../styles/colors';
@import '../styles/breakpoints';

.about {
  align-items: center;
  background-color: $indigo-light;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  
  .title {
    font-family: "Bear";
    font-size: 45px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    .presentation {
      font-family: "Bear";
      font-weight: bolder;
      font-size: 35px;
      margin-left: 25px;
      width: 50%;
      
      .spot {
        color: $indigo-medium;
      }
    }
  
    .picture {
      display: block;
      position: relative;
      
      .image {
        box-shadow: 5px 5px 6px rgba(64, 94, 130, 1);
        width: 245px;
      }
    }
  }

  .properties {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-top: 20px;

    .property {
      font-family: "Bear";
      font-size: 25px;
      text-align: center;
      width: 210px;

      .description {
        font-size: 20px;
      }

      .front,
      .back {
        color: #4a66c3;
      }
    }
  }
}

@media (max-width: $big) {
  .about {
    .container {

      .picture {
        transform: none;
      }

      .presentation {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: $medium) {
  .about {
    .container {
      flex-direction: column;

      .picture {
        transform: none;
      }

      .presentation {
        font-size: 30px;
        text-align: center;
        margin-left: 0;
        width: 90%;
      }
    }

    .properties {
      flex-wrap: wrap;
    }
  }
}
