@import '../styles/colors';
@import '../styles/breakpoints';

.contact {
  align-items: center;
  background-color: $indigo-light;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;

  .sectionTitle {
    font-family: 'Bear';
    margin-top: 100px;
    text-align: center;
  }

  .list {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    flex-wrap: wrap;
    width: 60%;
    align-items: center;

    .socialPic {
      transition: all 300ms;
      margin-bottom: 10px;
      width: 50px;
      max-height: 50px;
      filter: drop-shadow(2px 2px 1px gray);

      &:hover {
        cursor: pointer;
        transform: scale(1.2, 1.2);
      }
    }
  }

  .badge {
    margin-bottom: 20px;
    transition: all 300ms;
    filter: drop-shadow(2px 2px 1px gray);
    width: 350px;

    &:hover {
      cursor: pointer;
      transform: scale(1.05, 1.05);
    }
  }
}

.artWork {
  position: absolute;
  bottom: 0px;
  left: 0;
  display: flex;
  color: white;
  cursor: pointer;
  font-family: 'Bear';

  .clickable {
    position: relative;
    display: flex;

    .labels {
      display: flex;
      flex-direction: column;
      position: relative;
      
      p {
        font-family: "Fjalla One", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding: 0;
      }
    }

    .signature {
      position: absolute;
      bottom: -46px;
      left: 77px;
    }
  }

  .credits {
    transform: rotate(-90deg);
    position: absolute;
    left: -23px;
    font-size: 12px;
    bottom: 41px;
    z-index: 1;
  }

  .pre {
    font-size: 8px;
  }
}

@media (max-width: $small) {
  .contact {
    .badge {
      width: 250px;
    }
  }
}
