@import '../styles/colors';
@import '../styles/breakpoints';

.experience {
  align-items: center;
  background-color: $indigo-dark;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;

  .title {
    color: $indigo-light;
    font-family: "Bear";
    font-size: 45px;
    margin-bottom: 100px;
  }

  .projects {
    width: 80%;

    .subtitle {
      color: $indigo-light;
      font-size: 30px;
      font-family: "Bear";
      text-align: center;
    }

    .projectLogos {
      align-items: center;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 10px;

      .logo {
        filter: drop-shadow(
          1px 1px 1px rgba(255, 255, 255, 1)
        );
        margin-bottom: 5px;
      }
    }
  }
}

.link {
  color: $indigo-medium;
  text-decoration: none;
  
  &:visited,
  &:hover,
  &:link,
  &:active {
    color: $indigo-medium;
  }

  &:hover {
    text-decoration: underline;
  }
}
