@import '../styles/colors';
@import '../styles/breakpoints';

.skills {
  align-items: center;
  background-color: $indigo-light;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding-bottom: 40px;

  .title {
    font-family: 'Bear';
    color: $indigo-dark;
    margin-bottom: 30px;
  }

  .topics {
    display: flex;
    font-family: 'Bear';
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;

    .container {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 300px;

      .title {
        color: $indigo-medium;
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
      }

      .topic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
    
        .card {
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          border-radius: 10px;
          border: 2px solid whitesmoke;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 2px 2px 2px 2px;
          margin-top: 10px;
          width: 50px;
          height: 60px;
          transition: all 300ms;

          .logo {
            width: 40px;
            height: 40px;
            filter: drop-shadow(
              1px 1px 2px #333
            );
          }
        }
      }
    }
  }
}

@media (max-width: $xxl-big) {
  .skills {
    .topics {
      justify-content: space-around;
    }
  }
}

@media (max-width: $xxl-big) {
  .skills {
    .topics {
      .topic {
        .card {
          width: 260px;
        }
      }
    }
  }
}
